

h1 {
  margin-top: 30px;
  color: #333;
}

.forms, #form {
  background-color: #fff;
  padding: 40px 50px;
  border-radius: 16px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  margin-top: 40px;
  width: 90%;
  max-width: 500px;
}

label {
  font-weight: 600;
  display: block;
  margin-bottom: 6px;
  color: #333;
}

input[type="text"],
input[type="password"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  outline: none;
  transition: border 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #0066ff;
}

input[type="submit"] {
  background-color: #0066ff;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #004bcc;
}

#preview {
  display: block;
  margin: 15px auto;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
