body{
    margin: 0;
    padding: 0;
}

.navbar{

    height: 20vh;
    display: flex;
    justify-content: end
}

button{

    background-color: rgb(13, 130, 189);
    border: 1px solid grey;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 120px;
    font-size: 14px;
    color: white;
    margin: 20px;
   
}

.container{

    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

}

.card{

    border: 1px solid grey;
    
}